<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<!-- Properties -->
	<Properties>
		<Property name="LOG_PATTERN">%-5p - %c{1} : %m%n</Property>
	</Properties>

	<!-- Appenders -->
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n" /> -->
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
	</Appenders>

	<!-- Loggers -->
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>